<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.elec291.connectfour">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DisplayColorsActivity"
            android:theme="@style/AppTheme.customtheme">
            <!--android:label="@string/title_activity_display_colors"-->
            <!--android:parentActivityName=".ChoosePlayerMode"-->

            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="com.example.elec291.connectfour.ChoosePlayerMode" />-->

            <!--<intent-filter>-->
                <!--<action android:name="com.example.elec291.connect4.DisplayColorsActivity" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".ChoosePlayerMode"
            android:label="@string/title_activity_choose_player_mode"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.elec291.connectfour.MainActivity" />
            <intent-filter>
                <action android:name="com.example.elec291.connect4.ChoosePlayerMode" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Pop"
            android:theme="@style/AppTheme.customtheme"

        ></activity>

        <activity android:name=".ChooseChipColor"
            android:theme="@style/AppTheme.customtheme"

            ></activity>

    </application>

</manifest>
